.custome-input {
    padding: 5px;
    border-radius: 4px;
}
.custome-input .css-yk16xz-control {
    border-color: #e7e8f2;

}
.custome-input .css-xb97g8 {
    background-color: #bc58a9;
    color: #fafafa;
    cursor: pointer;
}
.custome-input .css-xb97g8:hover {
    background-color: #ad4a9b;
    color: #fafafa;
}
.custome-input .css-1pahdxg-control{
   box-shadow: none;
}
.custome-input .css-1pahdxg-control:hover {
    border-color: #e7e8f2;
}
.field .css-26l3qy-menu {
    position: relative !important;
    z-index: 99999 !important;
}