@import './../../../scss/varibales';
@import './../../../scss/react-md';
.card-header {
    background-color: #f1f2f7;
    border-radius: 4px;
    color: #000;
    padding: 15px;
    font-weight: bold;
    display: block; 
    border: none;

}
.card {
    border: none;
}
.card +.card {
    margin-top: 5px;
    border: none;

}
.accordion {
    margin-bottom: 5px;
}
.collapse {
    // padding: 18px 15px 0 15px;
    border: 1px solid #eee;
    border-top: 0;
}   
.min-width-80{
    min-width: 80px
}
.addServiceNav{
    text-align: center;
    padding: 0 0 5px 0;

}
.btnPurple{
    background-color: rgba(185,43,170,0.15);
    border-radius: 4px;
    color: $mainColor !important;
    padding: 10px 20px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
    margin: 0 auto;
    transition: color .3s ease-in-out,
    background-color .3s ease-in-out;
    text-decoration: none;
    border: none;
    cursor: pointer;
    &:hover,&:focus{
        color: white !important;
        background-color: $mainColor;
    }
}
.saveServiceNav{
    text-align: right;
    .saveService{
        margin: 0 0 20px 0;
    }
}
.curText {
    position: absolute;
    top: 36px;
    right: 30px;
    color: #7D8897;
}


@import './../../../scss/varibales';

.react-timekeeper__clock-wrapper {
    background: red;
}
.react-timekeeper__tb-hour {
    color:#bc58a9 !important ;
    // pointer-events: none !important;
} 
.react-timekeeper__tb-minute {
    color:#8C8C8C !important ;
    // pointer-events: none !important;

}

circle , line  {
    fill: #bc58a93b !important ;

}
.css-8xneil-Meridiems {
    background: #bc58a93b !important ;
}



.workingHours{
    width: 100%;
    tr{
        td{
            vertical-align: middle;
            padding-bottom: 15px;
            text-align: center;
            font-weight: bold;
            position: relative;
            padding-left: 0 !important;
            padding-right: 0 !important;
            p{
                margin: 0;
            }
            
            a{
                color: $mainColor;
                &:hover{
                    color: darken($mainColor, 10%);
                }
            }
        }
        // td:nth-of-type(2){
        //     text-align: left;
        // }
        @media(max-width:767px){
            p{
                font-size: 12px;
            }
        }
    }
    tr.off{
        color: #999;
        .inputTime{
            opacity: 0.5;
        }
    }
}


.checkbox{
    margin-top: inherit;
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
    .checkboxLabel input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 1px solid #E7E8F2;
        border-radius: 4px;
        cursor: pointer;
    }

    /* On mouse-over, add a grey background color */
    .checkboxLabel:hover input ~ .checkmark {
        background-color: #eee;
    }

    /* When the checkbox is checked, add a blue background */
    .checkboxLabel input:checked ~ .checkmark {
        background-color: $mainColor;
        border: 1px solid $mainColor;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .checkboxLabel input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkboxLabel .checkmark:after {
        left: 6px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
}

.inputTime{
    background-color: #F1F2F7;
    border-radius: 8px;
    border:0;
    color: black;
    padding: 10px;
    text-align: center;
    // width: 100%;
    max-width: 120px;
    cursor: pointer;
}
@media(max-width:767px){
    .inputTime{
        width: 64px;
        padding: 5px 0;
        font-size: 12px;
    }
}

tr.off{
    color: #999;
    .inputTime{
        opacity: 0.5;
    }
}

.timeKeeper-container .react-timekeeper {
    position: absolute !important;
    top: 60px;
    left: 0;
    z-index: 99;
    justify-content: center;
    max-width: 260px;
    direction: ltr !important;
    @media(max-width:768px){
        width: 260px !important;
        // position: absolute !important;
        // left: 0;
    }
}
 .relative-position {
    position: relative;
    max-height: 200;
    transition: max-height 0.7s linear;
}
.open-hight {
    height: 405px;
    max-height: 405px;

}


@media(max-width:375px){
    .picker-mobile-start {
        position: absolute !important;
        left: -50px;
    }
    .picker-mobile-end {
        position: absolute !important;
        left: -14px !important;
    }
}

.serviceBox{
    border: 1px solid #E7E8F2;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    h3{
        font-size: 18px;
        color: #211F28;
        font-size: 16px;
        font-weight: 600;
        margin-top: 0;
        @media(max-width:767px){
            font-size: 14px;
        }
    }
    .noumberOfEmployees{
        color: #9090AB;
        margin-bottom: 0;
    }
    .deleteService{
        background-color: #b92baa;
        border-radius: 50px;
        color: #fff;
        font-size: 10px;
        display: block;
        width: 24px;
        height: 24px;
        text-align: center;
        margin: 0 0 10px auto;
        border:none;
        &:hover,&:focus{
            background-color: darken($mainColor, 10%);
        }
    }
    .dirAndPrice{
        text-align: right;
        margin-bottom: 0;
    }
}

// .custome-input {
//     border: 1px solid #e7e8f2 !important;
//     background-color: #fff;
//     padding: 5px 10px;
//     border-radius: 4px;
//     width: 100%;
//     margin-bottom: 20px;
//     cursor: default
// }
// .custome-input .css-yk16xz-control {
//     border: none !important;
// }
.custome-input {
    padding: 5px;
    border-radius: 4px;
}
.custome-input .css-yk16xz-control {
    border-color: #e7e8f2;

}
.custome-input .css-xb97g8 {
    background-color: #bc58a9;
    color: #fafafa;
    cursor: pointer;
}
.custome-input .css-xb97g8:hover {
    background-color: #ad4a9b;
    color: #fafafa;
}
.custome-input .css-1pahdxg-control{
   box-shadow: none;
}
.custome-input .css-1pahdxg-control:hover {
    border-color: #e7e8f2;
}
// .custome-input  .css-12jo7m5 {
//     // border-radius: 26px;
//     color: #333;
//     background-color: #f1f2f7;
//     padding: 5px 35px 5px 15px;
//     font-size: 12px;
//     border: 0;
//     font-weight: 700
// }

// .custome-input  .css-1rhbuit-multiValue {
//     background-color: transparent;
// }
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
}
.glyphicon-trash:before {
    content: "x";
}

.css-15x5h67-TimeDropdown {
    display: none !important;
}

.react-timekeeper__time-dropdown {
    display: none !important;
}
// style for dropDown employee last step
.custome-input-purple .css-xb97g8 {
	cursor: pointer;
  }
  .dir-right .css-yk16xz-control {
	direction: rtl;
  }
  .dir-left .css-yk16xz-control {
	direction: ltr;
  }
  .custome-input-purple .css-yk16xz-control {
	&:hover {
	  box-shadow: 0px 2px 0px #b92baa !important;
	  border-color: #b92baa47 !important;
	}
	&:focus {
	  box-shadow: 0px 2px 0px #b92baa !important;
	  border-color: #b92baa47 !important;
	}
  }
  .css-1pahdxg-control {
	box-shadow: 0px 2px 0px #b92baa !important;
	border-color: #b92baa47 !important;
	direction: rtl;
  }
  
  .example::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
  }